@using TAKSuite.Data.Models
@using TAKSuite.Data.ModelsTak
@using TAKSuite.Data.Services

@inject UserServiceAtak _userServices
@inject ToastService ToastService

<div class="d-flex justify-content-between align-items-center">
    <h3>Team</h3>
    <Button Color="ButtonColor.Primary" @onclick="SaveChanges">Salva</Button>
</div>

<p>Utenti nel team</p>

<div class="row">

    <div class="col">
        <h3>Operatori nel team</h3>

        <SortableList TItem="UserAtak"
        Group="SharedListExample2"
        Name="empList1"
        Data="UsersInsideTheTeam"
        Context="item"
        OnUpdate="OnEmployeeList1Update"
        OnRemove="OnEmployeeList1Remove">
            <ItemTemplate>
                <Card Color="CardColor.Success" Style="width:18rem;">
                    <CardHeader>
                        <CardTitle>@item.Nick</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardText><Icon Name="IconName.PeopleFill"></Icon>: @item.Name @item.Surname</CardText>
                        <CardText><Icon Name="IconName.Mailbox"></Icon>: @item.Email</CardText>
                        <CardText><Icon Name="IconName.PhoneFill"></Icon>: @item.PhoneNumber</CardText>
                    </CardBody>
                </Card>
            </ItemTemplate>
        </SortableList>
    </div>

    <div class="col">
        <h3>Operatori liberi</h3>

        <SortableList TItem="UserAtak"
        Group="SharedListExample2"
        Name="empList2"
        Data="UsersWithoutTeam"
        Context="item"
        OnUpdate="OnEmployeeList2Update"
        OnRemove="OnEmployeeList2Remove">
            <ItemTemplate>
                <Card Style="width:18rem;">
                    <CardHeader>
                        <CardTitle>@item.Nick</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardText><Icon Name="IconName.PeopleFill"></Icon>: @item.Name @item.Surname</CardText>
                        <CardText><Icon Name="IconName.Mailbox"></Icon>: @item.Email</CardText>
                        <CardText><Icon Name="IconName.PhoneFill"></Icon>: @item.PhoneNumber</CardText>
                    </CardBody>
                </Card>
            </ItemTemplate>
        </SortableList>
    </div>
</div>

@code {
    [Parameter] public Guid Id { get; set; }
    private List<UserAtak> UsersInsideTheTeam = new List<UserAtak>();
    private List<UserAtak> UsersWithoutTeam = new List<UserAtak>();
    private List<Guid> InitialTeamUserIds = new();

    private async Task<GridDataProviderResult<UserAtak>> RequestDataProvider(GridDataProviderRequest<UserAtak> request)
    {
        var allUsers = await _userServices.GetAllAsync();
        var teamUsers = allUsers.Where(_ => _.TeamId == Id).ToList();

        // Filtra utenti senza TeamId
        UsersInsideTheTeam = teamUsers;
        UsersWithoutTeam = allUsers.Where(_ => _.TeamId == null).ToList();

        return await Task.FromResult(request.ApplyTo(teamUsers));
    }
    protected override async Task OnInitializedAsync()
    {
        Thread.Sleep(100);

        var allUsers = await _userServices.GetAllAsync();
        var teamUsers = allUsers.Where(_ => _.TeamId == Id).ToList();

        UsersInsideTheTeam = teamUsers;
        UsersWithoutTeam = allUsers.Where(_ => _.TeamId == null).ToList();

        // Salva gli ID iniziali degli utenti in squadra
        InitialTeamUserIds = UsersInsideTheTeam.Select(u => u.Id).ToList();

        StateHasChanged();
    }

    private void OnEmployeeList1Update(SortableListEventArgs args)
    {
        var itemToMove = UsersInsideTheTeam[args.OldIndex];

        UsersInsideTheTeam.RemoveAt(args.OldIndex);

        if (args.NewIndex < UsersInsideTheTeam.Count)
            UsersInsideTheTeam.Insert(args.NewIndex, itemToMove);
        else
            UsersInsideTheTeam.Add(itemToMove);
    }

    private void OnEmployeeList2Update(SortableListEventArgs args)
    {
        var itemToMove = UsersWithoutTeam[args.OldIndex];

        UsersWithoutTeam.RemoveAt(args.OldIndex);

        if (args.NewIndex < UsersWithoutTeam.Count)
            UsersWithoutTeam.Insert(args.NewIndex, itemToMove);
        else
            UsersWithoutTeam.Add(itemToMove);
    }

    private void OnEmployeeList1Remove(SortableListEventArgs args)
    {
        if (UsersInsideTheTeam.Count == 0) return;
        var item = UsersInsideTheTeam[args.OldIndex];
        UsersWithoutTeam.Add(item);
        UsersInsideTheTeam.Remove(UsersInsideTheTeam[args.OldIndex]);
    }

    private void OnEmployeeList2Remove(SortableListEventArgs args)
    {
        if (UsersWithoutTeam.Count == 0) return;
        var item = UsersWithoutTeam[args.OldIndex];
        UsersInsideTheTeam.Add(item);
        UsersWithoutTeam.Remove(UsersWithoutTeam[args.OldIndex]);
    }

    private async void SaveChanges()
    {
        bool allCorrect = true;
        var currentTeamUserIds = UsersInsideTheTeam.Select(u => u.Id).ToList();

        // Identifica utenti entrati o usciti dalla squadra
        var addedUsers = UsersInsideTheTeam.Where(u => !InitialTeamUserIds.Contains(u.Id)).ToList();
        var removedUsers = UsersWithoutTeam.Where(u => InitialTeamUserIds.Contains(u.Id)).ToList();

        // Aggiorna solo gli utenti modificati
        foreach (var user in addedUsers)
        {
            user.TeamId = Id;
            var res = await _userServices.UpdateAsync(user);
            if (res is null)
            {
                ToastService.Notify(new ToastMessage(ToastType.Danger, "Errore", "Errore durante il salvataggio delle modifiche"));
                allCorrect = false;
            }
        }

        foreach (var user in removedUsers)
        {
            user.TeamId = null; // Rimuove l'assegnazione alla squadra
            var res = await _userServices.UpdateAsync(user);
            if (res is null)
            {
                ToastService.Notify(new ToastMessage(ToastType.Danger, "Errore", "Errore durante il salvataggio delle modifiche"));
                allCorrect = false;
            }
        }

        if (allCorrect)
        {
            ToastService.Notify(new ToastMessage(ToastType.Success, "Salvataggio completato", "Le modifiche sono state salvate con successo"));
            InitialTeamUserIds = currentTeamUserIds; // Aggiorna lo stato iniziale
        }
    }
}
