@page "/eventi"
@using TAKSuite.Components.Pages.EventEntityComponents
@using TAKSuite.Components.Pages.EventEntityComponents.GenercForm
@using TAKSuite.Data.Models
@using TAKSuite.Data.Services
@inject EventEntityService eventEntityService

<GenericDataTable TItem="EventEntity"
                  TGridItem="EventEntity"
                  LoadItems="LoadEventi">

    <Columns>
        <GridColumn TItem="EventEntity" HeaderText="Ora" SortKeySelector="x => x.Timestamp">
            @context.Timestamp?.ToString("dd/MM HH:mm")
        </GridColumn>
        <GridColumn TItem="EventEntity" HeaderText="Titolo">
            @context.Title
        </GridColumn>
        <GridColumn TItem="EventEntity" HeaderText="Note">
            @context.Note
        </GridColumn>
    </Columns>

    <FormFields>
        <DateTimeInput Title="Ora inizio:" @bind-Value="formModel.Timestamp" />
        <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Titolo:</label>
            <div class="col-md-10">
                <TextInput @bind-Value="formModel.Title" />
                <ValidationMessage For="@(() => formModel.Title)" />
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label">Note:</label>
            <div class="col-md-10">
                <TextAreaInput @bind-Value="formModel.Note" />
                <ValidationMessage For="@(() => formModel.Note)" />
            </div>
        </div>
    </FormFields>

</GenericDataTable>

@code {
    private EventEntityModel formModel = new();

    private async Task<List<EventEntity>> LoadEventi()
    {
        var items = await eventEntityService.GetAllAsync();
        return items.OrderByDescending(x => x.Timestamp).ToList();
    }
}
