@page "/team/{TeamId:guid}/tasks/inprogress"
@attribute [Authorize]
@inherits ConnectedUserInfo

@using Microsoft.AspNetCore.Authorization
@using TAKSuite.Components.Layout
@using TAKSuite.Components.Pages.Tasks
@using TAKSuite.Components.Pages.Tasks.TaskComponents
@using TAKSuite.Data.Models
@using TAKSuite.Data.Services
@inject TaskService taskService
@inject TeamService teamService
@inject NavigationManager NavigationManager

<PageTitle>Task assegnati</PageTitle>
<h3>Task assegnati</h3>



<div class="py-2 d-flex w-100">
    <InputText @bind-value="searchText" placeholder="Cerca task..." @oninput="FilterTasks" class="form-control flex-grow-1" />
</div>

<ModalTaskAddUpdate @ref="modal" OnSuccess="RefreshTaskList" Model="taskModel" User="ConnectedAtakUser"/>

@if (FilteredTaskList == null)
{
    <p>Caricamento in corso...</p>
}
else if (!FilteredTaskList.Any())
{
    <p>Nessun task disponibile.</p>
}
else
{
    var statusList = (TaskStatusTak[])Enum.GetValues(typeof(TaskStatusTak));
    if (team == null) return;
    @foreach(var status in statusList)
    {
        if (!FilteredTaskList.Any(_ => _.Status == status)) continue;
        <h3>@status.ToString()</h3>
        <div class="d-flex flex-wrap gap-3">
            @foreach (var task in FilteredTaskList.Where(_=>_.Status == status))
            {
                CardColor cardColor = CardColor.Secondary;
                if (task.Priority != null)
                {
                    cardColor = task.Priority.CardColor;
                }
                var url = $"/task/{task.Id}";

                <Card Color="cardColor" Style="width: 18rem;">
                    <CardBody @onclick="() => NavigationManager.NavigateTo(url)">
                        <CardTitle class="d-flex justify-content-between align-items-center">
                            <span>@task.Name</span>
                            <Tooltip Placement="TooltipPlacement.Top" Title="Apri task">
                                <Button Outline=false Color=ButtonColor.None @onclick="() => NavigationManager.NavigateTo(url)">
                                    <Icon Name="IconName.InfoCircleFill" />
                                </Button>
                            </Tooltip>
                        </CardTitle>

                        <CardSubTitle>Priorità: @task.Priority?.Name</CardSubTitle>
                        @if(task.Status >= TaskStatusTak.Assigned){
                            <CardText><Icon Name="IconName.PeopleFill"></Icon>: @task.ExecutingTeam?.Name</CardText>
                        }
                        <CardText><Markdown>@task.Description</Markdown></CardText>
                    </CardBody>
                    <CardFooter class="d-flex justify-content-end">
                        <TaskButtons Team="team" Subteams="subteams" TaskEnt="task" ShowButtonTitle="false" OnChanged="RefreshTasks" User="ConnectedAtakUser" />
                    </CardFooter>
                </Card>
            }
        </div>
    }
}




@code {
    [Parameter] public Guid TeamId { get; set; }

    private Team? team { get; set; }
    private List<Team> subteams { get; set; }
    private string searchText = "";

    ModalTaskAddUpdate modal = default!;
    TaskModel taskModel = new();

    private List<TaskEntity> TaskList = new List<TaskEntity>();
    private List<TaskEntity> FilteredTaskList = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        team = await teamService.GetAsync(TeamId);
        if (team != null) subteams = await teamService.GetSubTeamsAsync(team);

        await RefreshTaskList();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        

    }
    private async Task RefreshTasks()
    {
        await RefreshTaskList();
    }
    
    
    

    private async Task ShowCreateTaskModal()
    {
        taskModel = new();
        taskModel.AssignedTeam = team;
        await modal.ShowAsync();
        StateHasChanged();
    }

    private async Task RefreshTaskList()
    {
        TaskList = (await taskService.GetAllTaskAssignedToTeamAsync(TeamId))
            .Where(_=> _.Status==TaskStatusTak.InProgress || _.Status==TaskStatusTak.Assigned)    
            .OrderByDescending(_ => _.Priority?.Level)
            .ThenBy(_ => _.Name)
            .ToList();

        FilteredTaskList = TaskList;

        StateHasChanged();
    }


    private void FilterTasks(ChangeEventArgs e)
    {
        searchText = e.Value?.ToString() ?? "";
        if (string.IsNullOrWhiteSpace(searchText))
        {
            FilteredTaskList = TaskList;
        }
        else
        {
            string lowerSearch = searchText.ToLower();
            FilteredTaskList = TaskList
                .Where(t =>
                    (t.Name?.ToLower().Contains(lowerSearch) ?? false) ||
                    (t.Priority?.Name?.ToLower().Contains(lowerSearch) ?? false) ||
                    (t.Description?.ToLower().Contains(lowerSearch) ?? false)
                )
                .ToList();
        }
        StateHasChanged();
    }
}
